body {
  background-color: rgb(132, 132, 132);
  font-family: Arial Black;
}
h1 {
  color: rgb(0, 0, 0);
}
h2 {
  color: rgb(0, 0, 0);
}
h3 {
  color: rgb(0, 0, 0);
}
p {
  color: rgb(0, 0, 0);
}
